/* CSS PAGINA Footer.jsp */
        body {
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .footer {
            text-align: center;
            margin-top: 50px;
            margin-bottom: 20px;
        }

        .container {
            margin: 0 auto;
            padding: 0 20px;
        }

        .nomeFooter {
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 5px;
            color: #000; 
        }

        .footer-link {
            color: #000; 
            text-decoration: none;
            margin: 0 5px;
        }

        .footer-link:hover {
            color: #000;
            text-decoration: underline;
        }

        .slash {
            color: rgba(91, 255, 244, 0.9); 
        }
